<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="mb-3">

    <form action="/signuphosp" method="post">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username">

        <label for="password" class="form-label">password</label>
        <input type="text" name="password" id="password">

        <label for="placeName">Choose a placeName:</label>
        <select name="placeName" id="placeName">
            <option value="Amman">Amman</option>
            <option value="Irbid">Irbid</option>
            <option value="Zarqa">Zarqa</option>
            <option value="Mafraq">Mafraq</option>
            <option value="Ajloun">Ajloun</option>
            <option value="Jerash">Jerash</option>
            <option value="Madaba">Madaba</option>
            <option value="Balqa">Balqa</option>
            <option value="Karak">Karak</option>
            <option value="Tafileh">Tafileh</option>
        <input type="submit">
        </select>
    </form>
</div>
</body>
</html>