<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->

  <ul class="nav">
    <li class="nav-item">
      <a href="/" class="nav-link active">Home</a>
    </li>
    <li class="nav-item">
      <a th:if="${user==null}" th:href="${'/login'}" class="nav-link active">Login</a>
      <a th:if="${user}" th:href="${'/perform_logout'}" class="nav-link active">Logout</a>
    </li>
    <li class="nav-item">
      <a th:if="${user}" th:href="${'/user/'+user}" class="nav-link active">Profile</a>
    </li>
    <li class="nav-item">
      <h2 th:if="${user}" th:text="${user.getUsername()}"></h2>
    </li>
  </ul>
</nav>
</header>

<div class="mb-3">

  <form action="/signup" method="post">
    <label for="username" class="form-label">Username</label>
    <input type="text" name="username" id="username">

    <label for="password" class="form-label">password</label>
    <input type="text" name="password" id="password">

    <label for="firstName" class="form-label">firstName</label>
    <input type="text" name="firstName" id="firstName">

    <label for="lastName" class="form-label">lastName</label>
    <input type="text" name="lastName" id="lastName">

    <label for="dateOfBirth" class="form-label">dateOfBirthv</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth">


    <label for="blodType">Choose a blodType:</label>
    <select name="blodType" id="blodType">
      <option value="O+">O+</option>
      <option value="O-">O-</option>
      <option value="A+">A+</option>
      <option value="A-">A-</option>
      <option value="AB+">AB+</option>
      <option value="AB-">AB-</option>
    </select>




    <label for="placeName">Choose a placeName:</label>
    <select name="placeName" id="placeName">
      <option value="Amman">Amman</option>
      <option value="Irbid">Irbid</option>
      <option value="Zarqa">Zarqa</option>
      <option value="Mafraq">Mafraq</option>
      <option value="Ajloun">Ajloun</option>
      <option value="Jerash">Jerash</option>
      <option value="Madaba">Madaba</option>
      <option value="Balqa">Balqa</option>
      <option value="Karak">Karak</option>
      <option value="Tafileh">Tafileh</option>
      <option value="Maan ">Maan </option>
      <option value="Aqaba ">Aqaba </option>

    </select>


    <label for="emailAdress" class="form-label">emailAdress</label>
    <input type="text" name="emailAdress" id="emailAdress">

    <label for="phoneNum" class="form-label">phoneNum</label>
    <input type="text" name="phoneNum" id="phoneNum">

    <input type="submit">
  </form>
</div>

</body>
</html>